Source: dxf2gcode
Section: science
Priority: optional
Maintainer: Sebastian Kuzminsky <seb@highlab.com>
Build-Depends: debhelper (>= 9), python3, python3-setuptools,
 python3-pyqt5, pyqt5-dev-tools, qt4-linguist-tools
Standards-Version: 3.9.8
Homepage: https://sourceforge.net/p/dxf2gcode/wiki/Home/
#Vcs-Git: https://anonscm.debian.org/collab-maint/dxf2gcode.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/dxf2gcode.git

Package: dxf2gcode
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pyqt5, pstoedit, poppler-utils
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
